<ion-row justify-content-center align-items-center style="height: 100%">
  <ion-col class="ion-text-center" size="12" size-md>
    <img src="../../../assets/img/offline/no-wifi.png" alt="Offline">
    <h5 class="green-text">Sadly, you seem to be offline.</h5>
    <ion-text class="green-text">
      <p>Some major features of this application <span class="green-text">depend on your internet connectivity</span>.</p>
    </ion-text>
    <ion-text class="green-text">
      <p>To experience the full force of this app, <span class="green-text">please connect to your closest wi-fi host</span>.</p>
    </ion-text>
    <ion-text class="green-text">
      <p>Thank you for your time, patience and understanding.</p>
    </ion-text>
    <ion-button class="green-fill" fill="outline" routerLink="/">Back</ion-button>
  </ion-col>
  <ion-col class="ion-text-center" size="12" size-md>
</ion-col>
</ion-row>
