//@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

@font-face {
    font-family: 'Righteous';
    src: url('/src/assets/fonts/Righteous-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
