.green-highlight {
    color: #00DFC0
}

.dark-green-highlight {
    color: #016b5c;
}

.darker-green-text {
    color: #385a64;
}

.green-text {
    color: #009688;
}

.upcoming {
    color: #000;
}

* {
    --ion-font-family: 'Righteous', cursive;
    font-family: 'Righteous', cursive !important;
}

