.green-fill {
    --border-color: #009688;
    color: #ffffff;
    background-color: #009688;
}

.green-outline {
    --border-color: #009688;
    color: #fff;
}

.alert-button.sc-ion-alert-md {
    color: #385a64 !important;
}