<ion-content padding>
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-col class="ion-text-center" size="12">
        <ion-text class="darker-green-text">
          <h3>Congratulations!</h3>
          <p>Thank you immensely for playing Code IT Lab, you passed the quiz!</p>
          <p>You truly are the hackerman the world needs but doesn't deserve.</p>
        </ion-text>
      </ion-col>
      <ion-col class="ion-text-center" size="12">
        <ion-text>
          <img src="../../../assets/img/pages/endgame/endgame.jpg" alt="Congratulations Banner">
        </ion-text>
      </ion-col>
      <ion-col class="ion-text-center" size="12">
        <ion-button position="bottom" expand="block" class="green-fill" fill="outline" routerLink="/">Home</ion-button>
      </ion-col>
    </ion-row>
</ion-content>
