<ion-content>
    <ion-row justify-content-center align-items-center style="height: 100%">
        <ion-col class="ion-text-center" size="12" size-md>
          <ion-text color="light">
            <h1 class="green-text" style="font-size: 30px;">
              <span class="dark-green-highlight">&lt;</span> 
              Code IT Lab<span class="dark-green-highlight">/&gt;</span>
            </h1>
          </ion-text>
        </ion-col>
        <ion-col class="ion-text-center" size="12" size-md>
          <img src="../../../assets/img/slides/homepage/3657664.jpg" alt="" width="230">
        </ion-col>
        <ion-col class="ion-text-center" size="12" size-md>
            <ion-button class="green-fill" fill="outline" routerLink="/category-selection">Play</ion-button>
            <ion-button class="green-fill" fill="outline" routerLink="/about">About</ion-button>
        </ion-col>
      </ion-row>
</ion-content>

